* {
  box-sizing: border-box;
}

body.main-body {
  background: url(../assets/img/bb_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}

body {
  margin: 0px;
  padding: 0px;
}

div.container {
  padding: 30px;
}

/*header*/
div#navigation {
  background-color: #000000;
  height: 40px;
}

div#navigation ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 3%;

}

div#navigation ul li a {
  color: white;
  text-decoration: none;
}

/*Home Page Styles*/

.container .carousel-caption {
  margin-bottom: 60px;
}

.container .carousel-caption h1 {
  font-size: 42px;
  color: white;
}

.container .carousel-caption p {
  font-size: 26px;
  color: white;
}

/*About Page Styles*/
.about img {
  float: right;
  padding-right: 15px;
}

/*Menu styles*/

.price {
  margin: 0px 15px;
}

#menu-list li.menu-type {
  list-style: none;
}

li.menu-item:hover {
  cursor: pointer;
}

/*Cart styles*/

div#js-cart {
  float: right;
  width: 400px;
  height: 300px;
  border: 3px solid black;
  padding: 5px;
}


div#js-cart ul, ul#list-item {
  list-style: none;
}

a.order-item, a.menu-list {
  text-decoration: none;
  color: #000000;

}

/*buttons*/

.actions {
  border: 1px solid #000000;
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 2px;
}

.actions:hover {
  border: 1px solid #2F4F4F;
  background-color: #2F4F4F;
  cursor: pointer;
}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}
