
/* Table Of Content
==============================*/

/*
1.	Base styles
       Header
	   Scrollbar
	   Preloader css
	   CSS3 ANIMATIONS  PRELOADER CIRCLE
	   Placeholder css
	   Horzontal settings

2.	Header Section
3.	Home  Section
4.	About Section
5.	Menu Section
8.	Pages SECTION
	   Gift Cards
	   Chef Bio SECTION
	   Locations
	   Private Dining
	   Catering
9.	Event Section
10. Reservation Section
11. Contact Section
12. Home page Special Menu SECTION
13. Video Section
14. media quiries


/* // Table Of Content
==============================*/

/*Base styles
==============================*/

/* Header */
@font-face {
	font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oswald-light-webfont.eot');
    src: local('?'),
	url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('../fonts/oswald-light-webfont.svg#Oswald') format('svg');
}
@font-face {
	font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-regular-webfont.eot');
    src: local('?'),
	url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('../fonts/oswald-regular-webfont.svg#Oswald') format('svg');
}
@font-face {
	font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-bold-webfont.eot');
    src: local('?'),
	url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#Oswald') format('svg');
}

html, body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	height:100%;
	width:100%;
	overflow:hidden;
	font-size:14px;
	font-family: 'Oswald';
	color:#242424;
}
iframe{  border:0; outline:0; }
a:hover, a:focus, a:active { outline: none; -moz-outline-style: none; }

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	overflow: hidden;
}

h1{
	font-size:26px; color:#585858;
	margin-top:0px;
	font-weight:400;
	text-transform:uppercase;
	padding-bottom:12px;
	letter-spacing:1px;
}

h2{
	font-size:16px;
	color:#545454;
	font-weight:normal;
	margin-top:0;
}
h3{text-transform:uppercase;  margin-top:0; font-size:20px; letter-spacing:1px;}
h4{ margin-top:30px;margin-bottom:5px; color: #545454; text-transform:uppercase; font-size:15px; letter-spacing:1px; line-height:1.5;}
p{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#919191;
	z-index:9999999;
	line-height:26px;
}
p span{color:#f32a2a;}
p a{
	font-size:16px;
	color:#fff;
	z-index:9999999;
	line-height:24px;
	text-decoration:none;
}
p a:hover{
	color:#ffffff;
	transition: 0.5s;
	-moz-transition: 0.5s; /* Firefox 4 */
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-o-transition: 0.5s; /* Opera */
}
span a, a {color: #545454; text-decoration: none;  }
.link{ font-family: 'Raleway', sans-serif; font-weight:bold; }
.title{font-size:15px; font-weight:normal; color:#545454; text-transform: uppercase; letter-spacing: 1px;}
img{
	border:none;
}
.selected1{
text-transform:uppercase; color: #f32a2a; font-size: 13px; letter-spacing: 1px; padding:0px 12px;
}
.selected1:hover{ color:#f32a2a;  cursor:pointer; }
/* Scrollbar css */

.contentscroll {
	overflow: auto;
	height: 90%;
	margin-top:22px;
	margin-bottom:10px;
	/*margin-right:16px;*/
	margin-right:30px;
}


/* // Scrollbar css */

/* Preloader css */
/*#jpreOverlay{
	background-color: #2F3238;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:999999;
}

#jSplash {
	background-color: #2F3238;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:999997;
}

#jpreSlide{
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}
#jpreLoader {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
}
#jprePercentage {
	width: 50px;
	height: 50px !important;
	line-height: 50px;
	position: absolute !important;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
	z-index: 999998;
	font-size: 24px;
	color: #FFFFFF;
	font-weight:500;
	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
		 -o-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
	background: #E34834;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	-webkit-animation: circle 1s infinite forwards;
	   -moz-animation: circle 1s infinite forwards;
		-ms-animation: circle 1s infinite forwards;
			animation: circle 1s infinite forwards;
}*/
/* ==================================================

CSS3 ANIMATIONS  PRELOADER CIRCLE
================================================== */

/*@-webkit-keyframes circle {
	0% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
	50% {-webkit-transform: rotateY(180deg);
		-webkit-animation-timing-function: ease-out;
	}
	100% {-webkit-transform: rotateY(0deg);
		-webkit-animation-timing-function: ease-in;
	}
}
@-moz-keyframes circle {
	0% {-moz-transform: rotateY(0deg);
	}
	50% {-moz-transform: rotateY(180deg);
		-moz-animation-timing-function: ease-out;
	}
	100% {-moz-transform: rotateY(0deg);
		-moz-animation-timing-function: ease-in;
	}
}
@-ms-keyframes circle {
	0% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
	50% {-ms-transform: rotateY(180deg);
		-ms-animation-timing-function: ease-out;
	}
	100% {-ms-transform: rotateY(0deg);
		-ms-animation-timing-function: ease-in;
	}
}
@-o-keyframes circle {
	0% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
	50% {-o-transform: rotateY(180deg);
		-o-animation-timing-function: ease-out;
	}
	100% {-o-transform: rotateY(0deg);
		-o-animation-timing-function: ease-in;
	}
}
@keyframes circle {
	0% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
	50% {transform: rotateY(180deg);
		animation-timing-function: ease-out;
	}
	100% {transform: rotateY(0deg);
		animation-timing-function: ease-in;
	}
}
*/


/* Placeholder css */
::-webkit-input-placeholder { color:#727272;}
:-moz-placeholder {  color: #727272;  /* Firefox 18- */}
::-moz-placeholder {  color: #727272;   /* Firefox 19+ */}
:-ms-input-placeholder {  color: #727272; }

/* // Placeholder css */

.social_top{ padding-top:50px;}
.pad_top13{ padding-top:13px;}
.pad_top20{ padding-top:20px;}
.pad_top30{ padding-top:30px;}
.pad_top50{ padding-top:50px;}
.pad_bot20{ padding-bottom:20px;}
.bold{ font-family: 'Oswald'; text-transform:uppercase; color:#545454;letter-spacing:1px; font-size:15px;}
.content_bold{ font-weight:400; color:#919191;}
.normal{ font-weight:600;}
.img_border{ border:4px solid #fff;}
.content_space{ margin-top:40px;}
.border_bottom{ border-bottom: 1px dotted rgba(243,42,42,0.9);}

/***********
Horzontal settings
***********/

#mask {
			width:500%;
			height:100%;
}

.content {
	height:100%;
	width:100%;
	margin:0 auto;
	position:relative;
	z-index:999;
	*margin-top:65px;
}

.item {
	width:20%;
	height:100%;
	float:left;
	display:inline-block;
	overflow:hidden;
}

.fullBg {
	position: absolute;
	top: 0;
	overflow: hidden;
	min-height:100%;
	min-width:100%;
	z-index:777;
}

.panel{ margin:0; border:none; box-shadow: none;}


/* header SECTION
=================================================== */

#header{
position:fixed;
top:0;
left:0;
width:100%;
height:85px;
z-index:99999;
display:none;
}

.navbar-nav ul{ display:none;}
.navbar-nav ul ul { display:none;}
#header .navbar-nav li:hover > ul{ display:block; position: absolute; top: 100%; background:rgba(0,0,0,0.5);}
#header .navbar-nav ul > li:hover ul{ display:block; position: absolute; top:0px; left:100%; background:rgba(0,0,0,0.5);}
#header .navbar-nav ul{ padding:0px 15px;}

#mainheader{
margin:0 auto;
line-height:80px;
background-color:rgba(17, 17, 17, .5);
width:100%;
position: fixed;
z-index: 9999;
bottom: 15%;
}
#mainheader .menu-inner{ height:110px;}
#header .brand, #mainheader .brand{ width:280px;}
#mainheader .navbar-nav li:hover > ul{ display:block; position: absolute; bottom: 100%; background:rgba(0,0,0,0.5);}
#mainheader .navbar-nav ul > li:hover ul{ display:block; position: absolute; bottom:0px; left:100%; background:rgba(0,0,0,0.5);}
.navbar-default {
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
background: rgba(17, 17, 17, .95);
border-radius: 0;
border: 1px solid transparent;
}

.mainheaderslide
{
-webkit-transition:all 1s;
-ms-transition:all 1s;
-moz-transition:all 1s;
-o-transition:all 1s;
-webkit-transition:all 1s;
width:100%;
position:absolute;
bottom:30px;
}

.brand a{
font-weight: 700;
font-size: 34px;
color:#fff;
text-transform:uppercase;
letter-spacing:1px;

}
.brand span{ color:#f32a2a;letter-spacing:0px; padding-right:3px; }
.brand a:hover, .brand a:focus, .brand a:active{}
#end{

}

.header_icons li{
	text-align:right;
	border-left:1px #333333 solid;
	display:inline;
	float:left;
	position:relative;


}

li a:hover{
	color:#ffffff;
	transition: 0.5s;
	-moz-transition: 0.5s; /* Firefox 4 */
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-o-transition: 0.5s; /* Opera */
	text-decoration:none;
}
li a::after {
	position: absolute;
	top:100%;
	left:30%;
	width: 40%;
	height: 1px;
	 background:transparent;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

li a:hover::after,
li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.content_inner{
	padding-top:125px;
	padding-left:90px;
	height:100%;
}
.footer{ position:fixed; bottom:0; left:0; z-index:999;}
.copyright{padding:5px 10px; font-size:10px; color:#fff; text-shadow: 1px 0px 1px rgba(0,0,0,0.8); letter-spacing:2px;text-transform:uppercase;}

/* Home SECTION
=================================================== */

/* Social Icons
=================================================== */
.home_address{font-size:20px; line-height:32px;letter-spacing:1px;}

.accura-social-icons.accura-stacked li {margin: 0;margin: 3px;}
.accura-social-icons.accura-small li a {width: 55px;height: 55px;font-size: 14px;}
.accura-social-icons.accura-small li a i {width: 55px;height: 55px;line-height: 55px;}
.accura-social-icons.accura-small.accura-jump li a i:first-child {top: -80px;}
.accura-social-icons.accura-small.accura-jump li a:hover i:last-child{top: 80px;}
.accura-section-header .accura-full-height {
  vertical-align: top;
}
.accura-social-icons a,
.accura-social-icons-simple a,
.accura-social-icons a:hover,
.accura-social-icons-simple a:hover {
  text-decoration: none;
  border: 0;
  overflow: hidden;
}
.accura-social-icons.accura-round-corners li a,
.accura-social-icons-simple.accura-round-corners li a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.accura-social-icons.accura-round li a,
.accura-social-icons-simple.accura-round li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.accura-social-icons.accura-drop-shadow li a,
.accura-social-icons-simple.accura-drop-shadow li a {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.accura-social-icons a,
.accura-social-icons-simple a {
  padding: 0;
}
.accura-social-icons {
  margin-bottom: 12px;
}
.accura-social-icons li {
  margin: 0 8px 8px 0;
}
.accura-social-icons li:last-child {
  margin-right: 0;
}
.accura-social-icons li a {
  display: block;
  position: relative;
  border-width: 0;
  font-size: 18px;
  width: 42px;
  height: 42px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

}
.accura-social-icons li a i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  -webkit-transition: top 0.4s ease-in-out 0s;
  -moz-transition: top 0.4s ease-in-out 0s;
  -ms-transition: top 0.4s ease-in-out 0s;
  -o-transition: top 0.4s ease-in-out 0s;
  transition: top 0.4s ease-in-out 0s;
}
.accura-social-icons.accura-stacked li {
 margin: 0;
 margin-left:4px;
 margin-right:4px;
}
.accura-social-icons.accura-bordered li {
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
  -webkit-backface-visibility:hidden;
}
.accura-social-icons.accura-jump li a i:last-child,
.accura-social-icons.accura-small.accura-jump li a i:last-child{
  top: 0;
}
.accura-social-icons.accura-jump li a:hover i:first-child,
.accura-social-icons.accura-small.accura-jump li a:hover i:first-child{
  top: 0;
}

.accura-social-icons-simple.accura-active li a.accura-social-icon-gplus,
.accura-social-icons-simple.accura-colored li a:hover.accura-social-icon-gplus,
.accura-social-icons-simple.accura-active.accura-base li a.accura-social-icon-gplus,
.accura-social-icons-simple.accura-colored.accura-base li a:hover.accura-social-icon-gplus {
  color: #9e3023 !important;
}
.accura-social-icons-simple.accura-active li a.accura-social-icon-linkedin,
.accura-social-icons-simple.accura-colored li a:hover.accura-social-icon-linkedin,
.accura-social-icons-simple.accura-active.accura-base li a.accura-social-icon-linkedin,
.accura-social-icons-simple.accura-colored.accura-base li a:hover.accura-social-icon-linkedin {
  color: #0a6594 !important;
}

.accura-social-icons-simple.accura-active li a.accura-social-icon-pinterest,
.accura-social-icons-simple.accura-colored li a:hover.accura-social-icon-pinterest,
.accura-social-icons-simple.accura-active.accura-base li a.accura-social-icon-pinterest,
.accura-social-icons-simple.accura-colored.accura-base li a:hover.accura-social-icon-pinterest {
  color: #a9272f !important;
}
.accura-social-icons-simple.accura-active li a.accura-social-icon-twitter,
.accura-social-icons-simple.accura-colored li a:hover.accura-social-icon-twitter,
.accura-social-icons-simple.accura-active.accura-base li a.accura-social-icon-twitter,
.accura-social-icons-simple.accura-colored.accura-base li a:hover.accura-social-icon-twitter {
  color: #1ca3db !important;
}
.accura-social-icons-simple.accura-active li a.accura-social-icon-facebook,
.accura-social-icons-simple.accura-colored li a:hover.accura-social-icon-facebook,
.accura-social-icons-simple.accura-active.accura-base li a.accura-social-icon-facebook,
.accura-social-icons-simple.accura-colored.accura-base li a:hover.accura-social-icon-facebook {
  color: #395793 !important;
}
.accura-social-icons-simple.accura-active li a:hover.accura-social-icon-gplus,
.accura-social-icons-simple.accura-active.accura-base li a:hover.accura-social-icon-gplus {
  color: #771d15 !important;
}
.accura-social-icons-simple.accura-active li a:hover.accura-social-icon-linkedin,
.accura-social-icons-simple.accura-active.accura-base li a:hover.accura-social-icon-linkedin {
  color: #09466b !important;
}
.accura-social-icons-simple.accura-active li a:hover.accura-social-icon-pinterest,
.accura-social-icons-simple.accura-active.accura-base li a:hover.accura-social-icon-pinterest {
  color: #821c22 !important;
}
.accura-social-icons-simple.accura-active li a:hover.accura-social-icon-twitter,
.accura-social-icons-simple.accura-active.accura-base li a:hover.accura-social-icon-twitter {
  color: #1679b3 !important;
}
.accura-social-icons-simple.accura-active li a:hover.accura-social-icon-facebook,
.accura-social-icons-simple.accura-active.accura-base li a:hover.accura-social-icon-facebook {
  color: #2b4170 !important;
}
.accura-social-icons.accura-active li a.accura-social-icon-gplus,
.accura-social-icons.accura-colored li a:hover.accura-social-icon-gplus {
  color: #9e3023 !important;
}
.accura-social-icons.accura-active li a.accura-social-icon-linkedin,
.accura-social-icons.accura-colored li a:hover.accura-social-icon-linkedin {
  color: #0a6594 !important;
}
.accura-social-icons.accura-active li a.accura-social-icon-pinterest,
.accura-social-icons.accura-colored li a:hover.accura-social-icon-pinterest {
  color: #a9272f !important;
}
.accura-social-icons.accura-active li a.accura-social-icon-twitter,
.accura-social-icons.accura-colored li a:hover.accura-social-icon-twitter {
  color: #1ca3db !important;
}
.accura-social-icons.accura-active li a.accura-social-icon-facebook,
.accura-social-icons.accura-colored li a:hover.accura-social-icon-facebook {
  color: #395793 !important;
}
.accura-social-icons.accura-active li a:hover.accura-social-icon-gplus {
  color: #771d15 !important;
}
.accura-social-icons.accura-active li a:hover.accura-social-icon-linkedin {
  color: #09466b !important;
}
.accura-social-icons.accura-active li a:hover.accura-social-icon-pinterest {
  color: #821c22 !important;
}
.accura-social-icons.accura-active li a:hover.accura-social-icon-twitter {
  color: #1679b3 !important;
}
.accura-social-icons.accura-active li a:hover.accura-social-icon-facebook {
  color: #2b4170 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:last-child.icon-gplus,
.accura-social-icons.accura-jump.accura-colored li a i:first-child.icon-gplus {
  color: #9e3023 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:last-child.icon-linkedin,
.accura-social-icons.accura-jump.accura-colored li a i:first-child.icon-linkedin {
  color: #0a6594 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:last-child.icon-pinterest,
.accura-social-icons.accura-jump.accura-colored li a i:first-child.icon-pinterest {
  color: #a9272f !important;
}
.accura-social-icons.accura-jump.accura-active li a i:last-child.icon-twitter,
.accura-social-icons.accura-jump.accura-colored li a i:first-child.icon-twitter {
  color: #1ca3db !important;
}
.accura-social-icons.accura-jump.accura-active li a i:last-child.icon-facebook,
.accura-social-icons.accura-jump.accura-colored li a i:first-child.icon-facebook {
  color: #395793 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:first-child.icon-gplus {
  color: #771d15 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:first-child.icon-linkedin {
  color: #09466b !important;
}
.accura-social-icons.accura-jump.accura-active li a i:first-child.icon-pinterest {
  color: #821c22 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:first-child.icon-twitter {
  color: #1679b3 !important;
}
.accura-social-icons.accura-jump.accura-active li a i:first-child.icon-facebook {
  color: #2b4170 !important;
}
.accura-social-icons.accura-active-bg li a.accura-social-icon-gplus,
.accura-social-icons.accura-colored-bg li a:hover.accura-social-icon-gplus {
  background: #9e3023 !important;
}
.accura-social-icons.accura-active-bg li a.accura-social-icon-linkedin,
.accura-social-icons.accura-colored-bg li a:hover.accura-social-icon-linkedin {
  background: #0a6594 !important;
}
.accura-social-icons.accura-active-bg li a.accura-social-icon-pinterest,
.accura-social-icons.accura-colored-bg li a:hover.accura-social-icon-pinterest {
  background: #a9272f !important;
}
.accura-social-icons.accura-active-bg li a.accura-social-icon-twitter,
.accura-social-icons.accura-colored-bg li a:hover.accura-social-icon-twitter {
  background: #1ca3db !important;
}
.accura-social-icons.accura-active-bg li a.accura-social-icon-facebook,
.accura-social-icons.accura-colored-bg li a:hover.accura-social-icon-facebook {
  background: #395793 !important;
}
.accura-social-icons.accura-active-bg li a:hover.accura-social-icon-gplus {
  background: #771d15 !important;
}
.accura-social-icons.accura-active-bg li a:hover.accura-social-icon-linkedin {
  background: #09466b !important;
}
.accura-social-icons.accura-active-bg li a:hover.accura-social-icon-pinterest {
  background: #821c22 !important;
}
.accura-social-icons.accura-active-bg li a:hover.accura-social-icon-twitter {
  background: #056ebf !important;
}
.accura-social-icons.accura-active-bg li a:hover.accura-social-icon-facebook {
  background: #233a74 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:last-child.icon-gplus,
.accura-social-icons.accura-jump-bg.accura-colored-bg li a i:first-child.icon-gplus {
  background: #9e3023 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:last-child.icon-linkedin,
.accura-social-icons.accura-jump-bg.accura-colored-bg li a i:first-child.icon-linkedin {
  background: #0a6594 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:last-child.icon-pinterest,
.accura-social-icons.accura-jump-bg.accura-colored-bg li a i:first-child.icon-pinterest {
  background: #a9272f !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:last-child.icon-twitter,
.accura-social-icons.accura-jump-bg.accura-colored-bg li a i:first-child.icon-twitter {
  background: #1ca3db !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:last-child.icon-facebook,
.accura-social-icons.accura-jump-bg.accura-colored-bg li a i:first-child.icon-facebook {
  background: #395793 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:first-child.icon-gplus {
  background: #771d15 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:first-child.icon-linkedin {
  background: #09466b !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:first-child.icon-pinterest {
  background: #821c22 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:first-child.icon-twitter {
  background: #1679b3 !important;
}
.accura-social-icons.accura-jump-bg.accura-active-bg li a i:first-child.icon-facebook {
  background: #2b4170 !important;
}

/* // Social Icons
=================================================== */


/************
#boxgallery tiled slide show
************/

#boxgallery .panel{ border:0;}
.boxesFx-header {
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	max-width: 500px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.header_details{ position:absolute;  z-index:999;  top:4%; width:100%;}
.call{font-size:40px; color:#fff; text-align:right; text-shadow:2px 2px 2px rgba(0,0,0,0.1); font-weight:400;}
.header_icons{ z-index:999; float:left;}
.circle{background-color:rgba(51,51,51,0.9); width:60px; height:60px; border-radius:50%;}
.header_icons ul{ list-style:none; padding:0; margin:0;}
.header_icons ul li{ display:inline; margin-right: 5px;}
.header_icons li a{padding: 0;float: none;text-align: center;}
.header_icons li a:after{ background:none;}
.header_icons li a i{ font-size:23px; line-height:60px; color:#fff;}

/************
Home Page
************/
/* Default Page */
.content_overlay{
    width:50%;
    height:100%;
    right:0px;
    display:block;
    color:#ffffff;
    background-color:rgba(255,255,255,0.95);
    position: absolute;
        z-index:0;
}
/* //  Default Page */

/* Three Fourth Page */
.content_overlay_three_fourth{
		width:70%;
		height:100%;
		right:0px;
		display:block;
		color:#ffffff;
		background-color:rgba(255,255,255,0.95);
		position: absolute;
        z-index:-1;
}
/* //  Three Fourth Page */


/* About SECTION
=================================================== */

.sub_title h4{ margin-top:0; margin-bottom: 15px; }
.hour_table{ margin-bottom:40px; color:#919191;}
.right_content{ margin-left:25px;}
.hour_table tr{
color:#acabab;
}
.hour_table td
{
	font-family: 'Raleway', sans-serif;
	padding:10px 15px 10px 0px;
	border:none;
}
.days{font-family: 'Oswald' !important;  color:#f32a2a; font-size:13px; letter-spacing:1px; text-transform:uppercase;}
.button{background:rgba(243,42,42,0.95);
color:#fff;
border-style: none;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 13px;
padding: 10px 20px;
margin-top:10px;
display:inline-block;
cursor: pointer;
text-transform: uppercase;
outline: none;
clear: both;
font-weight:normal;
border-radius:3px;
line-height:24px;}
.button:hover
{
color: #ffffff;
background-color: #727272;
}

/* // About SECTION
=================================================== */



/* Menu SECTION
=================================================== */


#menu1 .title-splider{padding-bottom:5px;}
.title-splider{ width:80%; padding-bottom:0px;}
.title-splider h4{ margin-bottom:5px; text-transform:uppercase;}
.title-splider .left{ width:90%;}
.title-splider .right{ width:8%; padding-left:10px;}
.left{ float:left;}
.right{ float:right;}


/* // Menu SECTION
=================================================== */


/* Contact SECTION
=================================================== */

.address{
font-size: 15px;
text-transform: uppercase;
letter-spacing:2px;
line-height: 32px;
margin:0;
}

.address i{ color:#f32a2a; font-size:26px;}
.phone{
font-size:15px;
color:#545454;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 1px;
line-height:32px;
margin:10px 15px 10px 0px;
}
.phone i{ color:#f32a2a; font-size:24px; text-transform:uppercase;}
a.mail-text{  font-size:15px; text-decoration:none; line-height:32px; font-weight:normal;letter-spacing: 1px; color:#545454; text-transform:uppercase; }
a.mail-text:hover{  text-decoration:none; color: #f32a2a;}
.mail-text i{ margin-right:10px; font-size:20px; color:#f32a2a;}
#map_canvas {
z-index:0;

}
.content_text{ z-index:3;}

.cont_form input[type="text"]{
	width:100%;
	height:40px;
	line-height:40px;
	border:transparent;
	background-color:#ffffff;
	margin-bottom:10px;
	border-radius:3px;
	font-size:13px;
	color:#727272;
	padding-left:10px;
}
.cont_form input[name="dt"]{
	width:100%;
	margin-bottom:0px;
}
.cont_form textarea{
	width:100%;
	height:70px;
	border:transparent;
	background-color:#ffffff;
	margin-bottom:10px;
	border-radius:3px;
	font-size:13px;
	color:#727272;
	padding-left:10px;
	padding-top:10px;
}
 .cont_form .submitBtn{
	border-style:none;
	font-size:13px;
	height:40px;
	line-height:40px;
	display:block;
	float:left;
	width:auto;
	padding:0px 15px;
	margin:1px auto 20px;
	cursor:pointer;
	position:relative;
	outline:none;
	clear:both;
	color:#FFFFFF;
	background-color:#98c521;
	text-transform:uppercase;
}
.cont_form .submitBtn:hover{ color:#ffffff; background-color: #727272; }
.cont_form .submitBtn:focus{ box-shadow:none; }

.cont_form input:focus, .cont_form textarea:focus ,input:valid:focus{
	border:0;
    outline: 0;
  	/* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243,42,42,0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243,42,42,0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243,42,42,0.8);
}
#contact_form { display:block; width:100%;}
#contact_form input{
	width:100%;
	height: 48px;
	line-height: 45px;
	padding-left: 10px;
	font-size:16px;
	color:#a5a5a5;
	background-color:rgba(0,0,0,0.1);
	border: transparent;
	border-radius:3px;
}
#contact_form input[type="text"], #contact_form textarea {
	font-family: 'Raleway', sans-serif;
}
#contact_form textarea  {
	width:100%;
	padding:8px;
	height:145px;
	font-size:16px;
	color:#a5a5a5;
	background-color:rgba(0,0,0,0.1);
	border: transparent;
	margin: 4px 0px 12px 0px;
	border-radius:3px;
}
#contact_form .submitBtn  {
	font-family: 'Carrois Gothic SC', sans-serif;
	border-style:none;
	font-size:13px;
	height:40px;
	line-height:40px;
	display:block;
	width:auto;
	padding:0px 20px;
	margin:20px auto 20px;
	cursor:pointer;
	text-transform:uppercase;
	position:relative;
	outline:none;
	clear:both;
	color:#FFFFFF;
	background-color:#f32a2a;
}
#contact_form .submitBtn:hover { color:#ffffff; background-color: #727272; }
#contact_form .submitBtn:focus{ box-shadow:none; }

#contact_form label{ float:left; padding-top:10px; margin:0px 0px 0px 0px; }
#contact_form label.error{
	color: #ff0000;
	position:relative;
	text-align: left;
	font-size:11px;
	font-weight:500;
	top: -8px;
	font-family: 'Raleway', sans-serif;
}

/*//  Contact SECTION
=================================================== */
