<!--About us
=============================-->
{{!-- <div id="about" class="item"> --}}
<div class ="item">
  <img src="assets/img/bob_bg.jpg" alt="Bob's Bagels" class="fullBg">
    <div class="content">
      <div class="content_overlay"></div>
        <div class="content_inner">
          <div class="row contentscroll">
            <div class="container col-md-12">
              <div class="col-md-6 empty">&nbsp;</div>
                <div class="col-md-6 content_text">
                  <h1>About Bob's Bagels</h1>
                    <div class="clearfix pad_top13">
                      <div class="col-md-6">
                        <p class="row">
                          <span class="bold">best bagels. best prices. freshest ingredients... made with love.</span><br/><br/>Robert "Bob" Bagler was born in Boston in 1951. After years of working in his father's restaurant, Arthur's, Bob struck out on his own in 1979 and started Bob's Bagels right where it sits today, at 51 Melcher Street in Boston.<br/><br/>For the last forty years, Bob's Bagels has provided the best bagels in town, at the best prices, and made with love from only the freshest ingredients. Best of all, Bob still works the counter, just like the old days! Stop in and say hello!
                        </p>
                      </div>
                        <div class="col-md-6">
                          <div class="right_content ">
                            <div class="sub_title">
                              <h4>Shop Hours:</h4>
                            </div>
                            <div class="hour_table">
                              <table>
                                <tr>
                                 <td class="days">Mon - Fri</td>
                                  <td>9:00am - 4:00pm</td>
                                </tr>
                                <tr>
                                  <td class="days">Sat</td>
                                  <td>9:00am - 2:00pm</td>
                                </tr>
                                <tr>
                                  <td class="days">Sun</td>
                                  <td>8:30am - 1:00pm</td>
                                </tr>
                              </table>
                            </div>
                            <div class="sub_title">
                              <h4>Delivery Hours:</h4>
                            </div>
                            <div class="hour_table">
                              <table>
                                <tr>
                                 <td class="days">Mon - Fri</td>
                                  <td>8:00am - 2:00pm</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!-- // About us
=============================-->
