<!-- Home Page Menu section -->
<nav class="main-nav">
  <a href="#" class="nav-toggle"></a>
  <ul  id="home_nav" class="nav">
    <li><span class="nav-link selected1">Main</span></li>
    <li><a href="#about" class="nav-link">About</a></li>
    <li><a href="" class="nav-link">Menu<span class="sub-toggle"></span></a>
      <ul class="submenu">
        <li><a href="#menu1" class="nav-link">Sandwiches Menu</a></li>
      </ul>
    </li>
    <li><a href="" class="nav-link">Pages<span class="sub-toggle"></span></a>
      <ul>
        <li><a href="#threefourth" class="nav-link">Three-Fourth</a></li>
      </ul>
    </li>
    <li><a href="" class="nav-link">Contact<span class="sub-toggle"></span></a>
      <ul>
        <li><a href="#contact" class="nav-link">Contact Us</a></li>
        <li><a href="#contactform" class="nav-link">Contact Form</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!--  // Home Page Menu section -->
