<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
{{!--     <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li> --}}
  </ol>
  <div class="carousel-inner">
    <div class="item active">
    <img class="carousel-img" src="assets/img/main_bg.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Bob's Bagels!</h1>
          <p>BEST BAGELS. BEST PRICES. FRESHEST INGREDIENTS. ALL MADE WITH LOVE.</p>
        </div>
      </div>
    </div>


{{!-- <h1>Welcome to Bob's Bagels!</h1>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <h3>Our bagels are made with love from only the freshest ingredients</h3>
    </div>
  </div>

 --}}
