<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
{{!--     <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li> --}}
  </ol>
  <div class="carousel-inner">
    <div class="item active">
    <img class="carousel-img" src="assets/img/main_bg.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to Bob's Bagels!</h1>
          <p>BEST BAGELS. BEST PRICES. FRESHEST INGREDIENTS. ALL MADE WITH LOVE.</p>
        </div>
      </div>
    </div>
{{!--     <div class="item">
      <%= image_tag "samurai-champloo.jpg" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div> --}}
{{!--     <div class="item">
      <%= image_tag "banner.gif" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div> --}}
{{!--   </div> --}}
{{!--   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-co<div >
ntrol" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div> --}}<!-- /.carousel -->

{{!--



<h1>Welcome to Bob's Bagels!</h1>

<p>Hello, I'm {{ name }}</p> --}}
